.navbar {
  position: fixed;
  top: 0;
  width: 200vh;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  justify-content: center; /* on centre horizontalement */
  align-items: center;
  padding: 0 2rem;
  box-sizing: border-box;
  z-index: 1000;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.navbar-links {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.navbar-links a,
.btn-discord-navbar {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.2s ease;
}

.navbar-links a.active {
  color: #f1f1f1;
  font-weight: bold;
  border-bottom: 2px solid #f4b942;
}

.navbar-links a:hover {
  color: #ffb100;
}
.navbar-discord {
  position: absolute;
  right: 2rem;
}
.btn-discord-navbar {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  background-color: #5865F2;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  font-size: 0.9rem;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.btn-discord-navbar:hover {
  background-color: #4752c4;
  transform: translateY(-1px);
}

.btn-discord-navbar svg {
  fill: white;
}
.navbar-user {
  color: #ffb100;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.1);
  padding: 0.3rem 0.8rem;
  border-radius: 8px;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.navbar-user:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-1px);
}